pkgbase = akiflow-bin
	pkgdesc = Akiflow - Time blocking and task management (unofficial Linux build)
	pkgver = 2.72.6
	pkgrel = 1
	url = https://akiflow.com
	arch = x86_64
	license = custom
	makedepends = p7zip
	makedepends = imagemagick
	makedepends = icoutils
	makedepends = python
	depends = electron
	source = Akiflow-2.72.6.exe::https://download.akiflow.com/builds/Akiflow-2.72.6-56d4030a-x64.exe
	source = patch-main.py::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/patch-main.py
	source = plasma-widget-metadata.json::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/metadata.json
	source = plasma-widget-main.qml::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/contents/ui/main.qml
	source = plasma-widget-CompactRepresentation.qml::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/contents/ui/CompactRepresentation.qml
	source = plasma-widget-FullRepresentation.qml::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/contents/ui/FullRepresentation.qml
	source = plasma-widget-akiflow.png::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/contents/icons/akiflow.png
	sha512sums = ee72cb77ea19626cc8f094cd0cf9cb0e4a14fa2c53fd5eebdda230beaa09ef3adfbc18cd17c81ff5f8dd0f701066139784203142eb441d2fe24b06aefbf7b953

pkgname = akiflow-bin
