pkgbase = akiflow-bin
	pkgdesc = Akiflow - Time blocking and task management (unofficial Linux build)
	pkgver = 2.74.21
	pkgrel = 1
	url = https://akiflow.com
	arch = x86_64
	license = custom
	makedepends = p7zip
	makedepends = imagemagick
	makedepends = icoutils
	makedepends = python
	depends = electron
	source = Akiflow-2.74.21.exe::https://download.akiflow.com/builds/Akiflow-2.74.21-d6d9f817-x64.exe
	source = patch-main.py::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/patch-main.py
	source = plasma-widget-metadata.json::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/metadata.json
	source = plasma-widget-main.qml::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/contents/ui/main.qml
	source = plasma-widget-CompactRepresentation.qml::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/contents/ui/CompactRepresentation.qml
	source = plasma-widget-FullRepresentation.qml::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/contents/ui/FullRepresentation.qml
	source = plasma-widget-akiflow.png::https://raw.githubusercontent.com/shrimpwtf/akiflow-arch/main/plasma-widget/package/contents/icons/akiflow.png
	sha512sums = f7b7e11dc920ddebda7e0b636eb7df5e1c2626bc23bee1359cd6eefa65e549c04f05f09c5f969347a1368788189e70832d9b1cdcefb71c82104f380333431cbf

pkgname = akiflow-bin
